//  Created by Kevin Ballard on 12/14/15.
//  Copyright © 2015 Postmates. All rights reserved.

FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(SRCROOT)/Carthage/Build/Mac/ $(SRCROOT)/Carthage/Build/** $(inherited)
FRAMEWORK_SEARCH_PATHS[sdk=iphone*] = $(SRCROOT)/Carthage/Build/iOS/ $(SRCROOT)/Carthage/Build/** $(inherited)
FRAMEWORK_SEARCH_PATHS[sdk=watch*] = $(SRCROOT)/Carthage/Build/watchOS/ $(SRCROOT)/Carthage/Build/** $(inherited)
FRAMEWORK_SEARCH_PATHS[sdk=appletv*] = $(SRCROOT)/Carthage/Build/tvOS/ $(SRCROOT)/Carthage/Build/** $(inherited)
